<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

 <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
  <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--JQuery first, then Popper.js, then Bootstrap.JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


</head>



<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <a class="navbar-brand" href="/">AMGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
    <a class="nav-link" href="/login">로그인
    <span class="sr-only">(current)</span>
    </a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="/join">회원가입</a>
    </li>
    <li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    게시판</a>
    <div class="dropdown-menu show" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="/board">
    문제풀기
    </a>
    <a class="dropdown-item" href="/answerlist">
    평가하기
    </a>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </nav>


<article class="container">
  <div class="jumbotron my-3">
    <h1 class="display-4">평가하기</h1>
    <br>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-0" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit"> 검색 </button>
      </form>

      <form name="write_form_member" method="post">
          <table width="200" style="padding:5px 0 5px 0; ">
              <tr height="100"><td colspan="100"></td></tr>
              <tr><th>정렬하기</th>
          <td><select name='sort' size='1' class='select'>
          <option value=''>선택하세요</option>
          <option value='30'>별점순</option>
          <option value='31'>조회순</option>
          <option value='32'>별점순</option>
          </select>
              </tr>
          </table>
      </form>

      <div class="row text-center">
          <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>학교</th>
            <th>출제년도</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>서울대</td>
            <td>2018</td>
            <td><a href="#" style="color:balck;" class="alert-link">2018학년도 서울대학교 모의논술고사 문항 1</td>
            <td>writer1</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>연세대</td>
            <td>2018</td>
            <td><a href="#" class="alert-link">2018학년도 연세대학교 모의논술고사 문항 1</td>
            <td>writer2</td>
            <td>7</td>
        </tr>
        <tr>
            <td>1</td>
            <td>고려대</td>
            <td>2018</td>
            <td><a href="#" class="alert-link">2018학년도 고려대학교 모의논술고사 문항 1</td>
            <td>writer3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>1</td>
            <td>한국외국어대</td>
            <td>2018</td>
            <td><a href="#" class="alert-link">2018학년도 한국외국어대학교 모의논술고사 문항 1</td>
            <td>writer4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>1</td>
            <td>고려대</td>
            <td>2014</td>
            <td><a href="#" class="alert-link">2014학년도 고려대학교 모의논술고사 문항 2</td>
            <td>writer5</td>
            <td>9</td>
        </tr>
            <td>1</td>
            <td>연세대</td>
            <td>2014</td>
            <td><a href="#" class="alert-link">2014학년도 연세대학교 모의논술고사 문항 2</td>
            <td>writer7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>서강대</td>
            <td>2018</td>
            <td><a href="#" class="alert-link">2018학년도 서강대학교 모의논술고사 문항 1</td>
            <td>writer8</td>
            <td>5</td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>
<hr/>
</article>

<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
<p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
</div>
<!-- /.container -->
</footer>

</body>
</html>
