<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.3/examples/starter-template/" rel="canonical">
    <link crossorigin="anonymous" href="/docs/4.3/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!--JQuery first, then Popper.js, then Bootstrap.JS -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">AMGO</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">로그인
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/join">회원가입</a>
                </li>
                <li class="nav-item dropdown show">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="dropdown01">
                        게시판</a>
                    <div aria-labelledby="dropdown01" class="dropdown-menu show">
                        <a class="dropdown-item" href="/board">
                            문제풀기
                        </a>
                        <a class="dropdown-item" href="/answerlist">
                            평가하기
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--carousel -->
<div class="col-md-12">
    <div class="carousel slide" data-ride="carousel" id="carousel-example-generic" style="height:400px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <li data-slide-to="1" data-target="#carousel-example-generic"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-7">
                        <img alt="First Slide"
                             src="https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/w0d/image/nHQF3gBFO7bUMJCQBcN1HhMoVeM.jpg"
                             style="width:900px; height: 400px; position:relative;">
                        <div class="carousel-caption"><h1>AMGO</h1>
                            <p>논술 답안을 평가 받아 보세요.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="join.html">
                            <img alt="First Slide"
                                 src="https://t1.daumcdn.net/cfile/tistory/2746844952316BDF26" style="width: 610px; height: 400px; position: relative;">
                            <div class="carousel-caption"><h1>시작하기</h1></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <a href=""><img alt="Second Slide" src="static/img/univ1.jpeg"
                                        style="width:350px; height:200px;"></a>
                    </div>
                    <div class="col-md-3">
                        <a href=""><img alt="Second Slide" src="static/img/univ2.jpg"
                                        style="width:350px; height:200px;"></a>
                    </div>
                    <div class="col-md-3">
                        <a href=""><img alt="Second Slide" src="static/img/univ3.jpg"
                                        style="width:350px; height:200px;"></a>
                    </div>
                    <div class="col-md-3">
                        <a href=""><img alt="Second Slide" src="static/img/univ4.jpg"
                                        style="width:350px; height:200px;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href=""><img alt="Second Slide" src="static/img/univ5.jpg"
                                        style="width:400px; height:200px;"></a>
                    </div>
                    <div class="col-md-4">
                        <a href=""><img alt="Second Slide" src="static/img/univ6.jpg"
                                        style="width:400px; height:200px;"></a>
                    </div>
                    <div class="col-md-4">
                        <a href=""><img alt="Second Slide" src="static/img/univ7.jpg"
                                        style="width:400px; height:200px;"></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carousel-example-generic" role="button">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-slide="prev" href="#carousel-example-generic" role="button">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br><br>
<!-- Page Content -->
<div class="container">
    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni
                        sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni
                        sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>

</html>