<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>AMGO</title>
    <link href="https://getbootstrap.com/docs/4.3/examples/starter-template/" rel="canonical">
    <link crossorigin="anonymous" href="/docs/4.3/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!--JQuery first, then Popper.js, then Bootstrap.JS -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}
    .card-body input {
        position: relative;

        margin-top: 20px;
    }
    .checkbox{
        margin-bottom: 80px;
        margin-left: 230px;
    }
    .card{
        margin-top: 20px;
        margin-left: 300px;
    }





    </style>
</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">AMGO</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">로그인
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/join">회원가입</a>
                </li>
                <li class="nav-item dropdown show">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="/board1" id="dropdown01">
                        게시판</a>
                    <div aria-labelledby="dropdown01" class="dropdown-menu show">
                        <a class="dropdown-item" href="/board1">
                            자유게시판
                        </a>
                        <a class="dropdown-item" href="#">
                            장터
                        </a>
                        <a class="dropdown-item" href="#">
                            비밀게시판
                        </a>
                        <a class="dropdown-item" href="#">
                            인강공유
                        </a>
                        <a class="dropdown-item" href="#">
                            족보
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">급식</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">시간표</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<article class="container">
    <div class="jumbotron my-3">
        <form class="card" style="width:400px; height:450px;" method="post" action="/login/access">
            <div class="card-header">
                <h1 class="card-title">로그인</h1>
            </div>
            <div class="card-body">
                <input autofocus="" class="form-control" name="inputID" placeholder="이메일을 입력하세요" required=""
                       type="text"/>
                <input class="form-control" name="inputPassword" placeholder="비밀번호를 입력하세요" required="" type="password"/>
                <label class="checkbox">
                    <input id="rememberMe" name="rememberMe" type="checkbox" value="remember-me"> Remember me
                </label>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </div>
        </form>
    </div>
</article>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>

</html>